In [1]:
2+3

5

In [2]:
2-1

1

In [3]:
3/2

1.5

In [4]:
7%4

3

In [5]:
50%5

0

In [6]:
23%2

1

In [7]:
20%2

0

In [8]:
2 ** 3

8

In [9]:
2 + 10 * 10 + 3

105

In [10]:
(2 + 10) * (10 + 3)

156

In [11]:
0.1 + 0.2 - 0.3

5.551115123125783e-17

In [12]:
1/2

0.5

In [13]:
a = 5

In [14]:
a

5

In [15]:
a = 10

In [16]:
a

10

In [17]:
a + a

20

In [18]:
a = a + a

In [19]:
a

20

In [20]:
a

20

In [21]:
type(a)

int

In [22]:
a = 30.1

In [23]:
type(a)

float

In [24]:
my_income = 100
tax_rate = 0.1

In [25]:
my_taxes = my_income * tax_rate

In [26]:
my_taxes

10.0

In [27]:
mystring = "hello world"

In [28]:
mystring

'hello world'

In [29]:
mystring[0]

'h'

In [30]:
mystring[9]

'l'

In [31]:
mystring[-2]

'l'

In [32]:
mystring[-1]

'd'

In [33]:
mystring = "abcdefghijk"

In [34]:
mystring[2:]

'cdefghijk'

In [35]:
mystring[:6]

'abcdef'

In [36]:
mystring[3:6]

'def'

In [37]:
mystring[::]

'abcdefghijk'

In [38]:
mystring[::2]

'acegik'

In [39]:
mystring[::-1]

'kjihgfedcba'

In [40]:
'tinker'[1:4]

'ink'

String Concatenations

In [41]:
name = "Sam"

In [42]:
last_letters = name[1:]

In [43]:
last_letters

'am'

In [44]:
'P' + last_letters

'Pam'

In [45]:
letter = 'z'

In [46]:
letter * 10

'zzzzzzzzzz'

In [47]:
2 + 3

5

In [48]:
'2' + '3'

'23'

In [49]:
x = 'Hello World'

In [50]:
x.upper()

'HELLO WORLD'

In [51]:
x.lower()

'hello world'

In [52]:
x.split()

['Hello', 'World']

In [53]:
x = "Hi this is a string"

In [54]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [55]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [56]:
print('hello')

hello

# String format methods

In [57]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [58]:
print('the {} {} {}'.format('fox', 'brown','quick'))

the fox brown quick

In [59]:
print('the {2} {1} {0}'.format('fox', 'brown', 'quick'))

the quick brown fox

In [60]:
print('the {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

the quick brown fox

# float formatting - adjusting precision for floating point numbers

In [61]:
result = 100/777

In [62]:
result

0.1287001287001287

In [63]:
print('the result was {r}'.format(r=result))

the result was 0.1287001287001287

In [64]:
print('the result was {r:1.3f}'.format(r=result))

the result was 0.129

In [65]:
print('the result was {r:10.3f}'.format(r=result))

the result was      0.129

# f-strings for string formatting  introduced in Python 3.6

In [66]:
name = 'Jose'

In [67]:
print(f'his name is {name}')

his name is Jose

In [68]:
name = 'Same'
age = 3

In [69]:
print(f'{name} is {age} years old')

Same is 3 years old

# Lists in Python

In [70]:
mylist = [1, 2, 3]

In [71]:
my_List = ['String', 100, 1.3]

In [72]:
len(my_List)

3

In [73]:
mylist = ['one', 'two', 'three']

In [74]:
mylist[0]

'one'

In [75]:
mylist[1:]

['two', 'three']

In [76]:
anotherlist = ['four', 'five']

In [77]:
mylist + anotherlist

['one', 'two', 'three', 'four', 'five']

In [78]:
newlist = mylist + anotherlist

In [79]:
newlist

['one', 'two', 'three', 'four', 'five']

## List is mutable

In [80]:
newlist[0] = 'ONE IN ALLCAPS'

In [81]:
newlist

['ONE IN ALLCAPS', 'two', 'three', 'four', 'five']

In [82]:
newlist.append('six')

In [83]:
newlist

['ONE IN ALLCAPS', 'two', 'three', 'four', 'five', 'six']

In [84]:
newlist.append('seven')

In [85]:
newlist

['ONE IN ALLCAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [86]:
newlist.pop()

'seven'

In [87]:
newlist

['ONE IN ALLCAPS', 'two', 'three', 'four', 'five', 'six']

In [88]:
popped_item = newlist.pop()

In [89]:
popped_item

'six'

In [90]:
newlist

['ONE IN ALLCAPS', 'two', 'three', 'four', 'five']

In [91]:
newlist.pop(3)

'four'

In [92]:
newlist

['ONE IN ALLCAPS', 'two', 'three', 'five']

In [93]:
charlist = ['a', 'f', 'c', 'b']
numlist = [4,1,3,2]

In [94]:
charlist.sort()

In [95]:
charlist

['a', 'b', 'c', 'f']

In [96]:
numlist.sort()

In [97]:
numlist

[1, 2, 3, 4]

## Sort method replaces list inplace so below returns None

In [98]:
sorted_list = numlist.sort()

In [99]:
sorted_list

In [100]:
type(sorted_list)

NoneType

In [101]:
numlist.reverse()

In [102]:
numlist

[4, 3, 2, 1]

# Dictionaries in Python

In [103]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

In [104]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [105]:
my_dict['key1']

'value1'

In [106]:
prices_lookup = {'apples': 5.55, 'banana': 1.22, 'milk': 6.99}

In [107]:
prices_lookup['apples']

5.55

## Dictionaries can hold any type of values, lists and even dictionaries themselves

In [108]:
d = {'k1': 123, 'k2': [0,1,2], 'k3': {'insidekey': 100}}

In [109]:
d['k2']

[0, 1, 2]

In [110]:
d['k3']

{'insidekey': 100}

In [111]:
d['k3']['insidekey']

100

## problem: create a dictionary with char list array and make third char capital

In [112]:
d2 = {'key1': ['a', 'b', 'c']}

In [113]:
d2

{'key1': ['a', 'b', 'c']}

In [114]:
mylist = d2['key1']

In [115]:
mylist

['a', 'b', 'c']

In [116]:
letter = mylist[2]

In [117]:
letter

'c'

In [118]:
letter = letter.upper()

In [119]:
letter

'C'

### Or this can be done in one step

In [120]:
d2['key1'][2].upper()

'C'

## Add/replace new key value pair to dictionary

In [121]:
d3 = {'key1': 100, 'key2': 200}

In [122]:
d3

{'key1': 100, 'key2': 200}

In [123]:
d3['key3'] = 300

In [124]:
d3

{'key1': 100, 'key2': 200, 'key3': 300}

In [125]:
d3['key1'] = 1000

In [126]:
d3

{'key1': 1000, 'key2': 200, 'key3': 300}

## Get dictionary info

In [127]:
d3.keys()

dict_keys(['key1', 'key2', 'key3'])

In [128]:
d3.values()

dict_values([1000, 200, 300])

In [130]:
d3.items()

dict_items([('key1', 1000), ('key2', 200), ('key3', 300)])